{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{% static '/plasmastream-logo-2.png' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#32801E">
    <title>PlasmaStream</title>
    <script type="module" crossorigin src="{% static '/js/index.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body class="dx-viewport">
<div id="app"></div>

</body>
</html>