.row_all {
    display: flex;
}

.row_all > *:not(:last-child) {
    margin-right: 10px;
}

.horizontal-divider {
    height: 3px;
    background-color: #ddd;
    margin-bottom: 0px;
    width: 100%;
}

/*_________________GROUPS___________________*/
.groups {
    width: 10%;
    min-width: 200px;
    padding-right: 10px;
    box-sizing: border-box;
}

.groups_title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.group_list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

.groups_list_item {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}

.groups_list_item a {
    display: block;
    padding: 10px;
    background-color: #1a3c5d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

.groups_list_item a:hover {
    background-color: #143044;
}

.create_group {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 20px;
}

.create_group_title {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.create_group_input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.create_group_btn {
    width: 170px;
    padding: 10px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.create_group_btn:hover {
    background-color: #218838;
}


/*_________________OLD CREATE___________________*/

/*.create_group {*/
/*    margin-top: 10px;*/
/*    display: flex;*/
/*    flex-direction: column; !* Вертикальное расположение элементов *!*/
/*    align-items: flex-start; !* Выровнять элементы слева *!*/
/*}*/

/*.create_group_title {*/
/*    font-size: 14px;*/
/*    margin: 5px;*/
/*    padding: 0;*/
/*    margin-bottom: 7px;*/
/*}*/

/*.create_group .create_group_input {*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 0; !* Квадратные углы *!*/
/*    padding: 7px; !* Внутренние отступы *!*/
/*    font-size: 12px; !* Размер шрифта *!*/
/*    min-width: 120px;*/
/*}*/

/*.create_group_btn {*/
/*    margin-top: 5px;*/
/*    padding: 5px 7px; !* Увеличиваем внутренние отступы для большего размера *!*/
/*    background-color: #f1f1f1; !* Светлый фон *!*/
/*    color: #333; !* Цвет текста *!*/
/*    border: 1px solid #ccc; !* Легкая рамка для кнопки *!*/
/*    border-radius: 3px; !* Закругленные углы для более мягкого вида *!*/
/*    cursor: pointer; !* Указатель при наведении *!*/
/*    font-size: 13px; !* Увеличиваем размер текста для читаемости *!*/
/*    transition: background-color 0.3s; !* Плавный переход при наведении *!*/
/*    min-width: 80px;*/
/*    height: 25px;*/
/*}*/



/*_________________SELECTED_GROUP___________________*/
.group_selected {
    display: flex;
    flex-direction: column; /* Расположение элементов в колонку */
    gap: 8px; /* Промежуток между элементами */
    padding: 20px;
    margin-top: 0px;
    background: transparent; /* Фоновый цвет для наглядности */
    width: fit-content;
    height: auto; /* Убираем фиксированную высоту */
    align-self: flex-start; /* Ограничиваем высоту контейнера под содержимое */
    box-sizing: border-box; /* Учитываем padding в размере контейнера */
}

.table_row_title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.table_row_title_group {
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}

.table_row_title .table_row_title_group .table_row_title_group_input {
    border: 1px solid #ccc;
    border-radius: 0; /* Квадратные углы */
    padding: 7px; /* Внутренние отступы */
    font-size: 14px; /* Размер шрифта */
    margin-left: 5px;
}

.lightning-group-label {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}

.group_molniya_text {
    margin: 0; /* Убираем стандартные отступы <p> */
    padding-left: 5px; /* Отступ между чекбоксом и текстом */
    max-width: 80px; /* Ограничиваем ширину текста */
    line-height: 1.0; /* Добавляем интерлиньяж для читаемости */
    word-wrap: break-word; /* Перенос слов, если текст длинный */
    font-size: 14px;
}

.table_row_title_group_btn {
    margin-left: 10px;
    padding: 5px 7px; /* Увеличиваем внутренние отступы для большего размера */
    background-color: #f1f1f1; /* Светлый фон */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Легкая рамка для кнопки */
    border-radius: 3px; /* Закругленные углы для более мягкого вида */
    cursor: pointer; /* Указатель при наведении */
    font-size: 13px; /* Увеличиваем размер текста для читаемости */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    min-width: 80px;
    height: 32px;
}




/*_________________STUDENT_LIST___________________*/
.table_row_users {
    display: flex;
    flex-direction: row; /* Расположение элементов в ряд */
    gap: 30px; /* Промежуток между элементами */
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}

.table_row_users_title {
    margin: 0px;
    font-size: 14px;
}

.users {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: transparent; /* Фоновый цвет для наглядности */
    border: #ffffff solid 1px;
    min-width: 250px;
}

.users form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Заставляет форму занимать оставшееся пространство */
}

.users_list {
    margin-top: 10px;
    padding: 0;
}

.user_link_span {
    cursor: pointer;

}

.user_link_span:focus {
    outline: none; /* Убираем стандартное обводка при фокусе */
}

.users_list_item {
    padding: 5px 10px;
    color: #090946;
    background: white;
    font-size: 14px;
    margin-bottom: 7px;
    border-radius: 3px;
    list-style: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.users_list_item.active {
    background-color: #151515; /* Цвет подсветки при выделении */
}

.users_list_item:last-child {
    border-bottom: none;
}

.btn-add_users {
    align-self: flex-end;
    margin-top: auto;
    padding: 5px 7px; /* Увеличиваем внутренние отступы для большего размера */
    background-color: #f1f1f1; /* Светлый фон */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Легкая рамка для кнопки */
    border-radius: 3px; /* Закругленные углы для более мягкого вида */
    cursor: pointer; /* Указатель при наведении */
    font-size: 13px; /* Увеличиваем размер текста для читаемости */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    min-width: 80px;
}

.btn-add_users:active {
    background-color: #e0e0e0; /* Более темный оттенок при наведении */
}

/*_________________STUDENT_ADDED___________________*/
.added_users {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: transparent; /* Фоновый цвет для наглядности */
    border: #ffffff solid 1px;
    min-width: 350px;
}

.added_users form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Заставляет форму занимать оставшееся пространство */
}

.added_users_list {
    margin-top: 10px;
    padding: 0;
}

.added_users_list_item {
    padding: 5px 10px;
    background: white;
    font-size: 14px;
    margin-bottom: 7px;
    border-radius: 3px;
    list-style: none;
    cursor: pointer;
}

.highlight2 {
    background-color: #a20a0a; /* Цвет подсветки */
    color: #ffffff; /* Цвет текста (если нужно изменить) */
    transition: background-color 0.3s ease; /* Плавный переход */
}

.added_users_list_item:last-child {
    border-bottom: none;
}

.added_users_list .added_users_list_item .user_link {
    color: #090946;
    cursor: pointer;
}

.btn-delete {
    align-self: flex-end;
    padding: 5px 7px; /* Увеличиваем внутренние отступы для большего размера */
    background-color: #ffffff; /* Светлый фон */
    color: #333; /* Цвет текста */
    border: 1px solid #ffffff; /* Легкая рамка для кнопки */
    border-radius: 3px; /* Закругленные углы для более мягкого вида */
    cursor: pointer; /* Указатель при наведении */
    font-size: 13px; /* Увеличиваем размер текста для читаемости */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    margin-top: auto;
    min-width: 80px;
}

.btn-delete:hover {
    background-color: #e0e0e0; /* Более темный оттенок при наведении */
}

.highlight {
    background-color: #0a22a2; /* Цвет подсветки */
    color: #ffffff; /* Цвет текста (если нужно изменить) */
    transition: background-color 0.3s ease; /* Плавный переход */
}


