<div>
    <h5 style="padding-left: 50px">Telegram users in base - - - - .</h5>
    <canvas id="TotalItemsQuantity" width="400" height="127"></canvas>
    <canvas id="TotalItemsWeight" width="400" height="126"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    Chart.defaults.font.size = 12;
    const internal_name = '{% for element in item_quantity.values %}{{ element.internal_name|safe }}#-#{% endfor %}';
    const internal_name_dict = internal_name.split('#-#');
    internal_name_dict.pop();
    const count = '{% for element in item_quantity.values %}{{ element.count|safe }}#-#{% endfor %}';
    const count_dict = count.split('#-#')
    count_dict.pop();
    const TotalItemsQuantity = document.getElementById('TotalItemsQuantity');
    const data_TotalItemsQuantity = {
        labels: internal_name_dict,
        datasets: [{
            type: 'line',
            label: 'Пользователи',
            data: count_dict,
            fill: false,
            borderColor: 'rgba(19,17,17,0.7)'
        },
            {
                type: 'bar',
                label: 'Прошедшие тестирование',
                data: count_dict,
                borderColor: 'rgba(13,122,159,0.7)',
                backgroundColor: 'rgba(13,122,159,0.7)'
            }]
    };

    const config_TotalItemsQuantity = {
        type: 'scatter',
        data: data_TotalItemsQuantity,
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 14
                        }
                    }
                }
            }
        }
    };

    new Chart(TotalItemsQuantity, config_TotalItemsQuantity);


    const internal_name_weight = '{% for element in item_weight.values %}{{ element.internal_name|safe }}#-#{% endfor %}';
    const internal_name_dict_weight = internal_name_weight.split('#-#');
    internal_name_dict_weight.pop();
    const count_weight = '{% for element in item_weight.values %}{{ element.weight|safe }}#-#{% endfor %}';
    const count_dict_weight = count_weight.split('#-#')
    count_dict_weight.pop();

    const TotalItemsWeight = document.getElementById('TotalItemsWeight');
    const data_TotalItemsWeight = {
        labels: internal_name_dict_weight,
        datasets: [{
            type: 'line',
            label: 'Пользователи',
            data: count_dict_weight,
            fill: false,
            borderColor: 'rgba(19,17,17,0.7)'
        }, {
            type: 'bar',
            label: 'Прошедшие Обучение',
            data: count_dict_weight,
            borderColor: 'rgba(13,122,159,0.7)',
            backgroundColor: 'rgba(13,122,159,0.7)'
        }]
    };

    const config_TotalItemsWeight = {
        type: 'scatter',
        data: data_TotalItemsWeight,
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 14
                        }
                    }
                }
            }
        }
    };

    new Chart(TotalItemsWeight, config_TotalItemsWeight);

</script>