.row_all {
    display: flex;
}

.row_all > *:not(:last-child) {
    margin-right: 20px;
}

.horizontal-divider {
    height: 3px;
    background-color: #ddd;
    margin-bottom: 20px;
    width: 100%;
}

/*_________________GROUPS___________________*/
.groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.07);
    width: fit-content;
    height: auto; /* Убираем фиксированную высоту */
    align-self: flex-start; /* Ограничиваем высоту контейнера под содержимое */
    box-sizing: border-box; /* Учитываем padding в размере контейнера */
    box-shadow: 3px 3px 5px 5px rgba(23, 22, 22, 0.29);
}

.groups_title {
    font-size: 18px;
    margin: 5px;
    padding: 0;
}

.group_list {
    font-size: 18px;
    padding: 5px;
    margin-left: 22px;
    color: #bbd0d9;
}

.groups_list_item {
    margin-bottom: 5px;
}

/*_________________SELECTED_GROUP___________________*/
.group_selected {
    display: flex;
    flex-direction: column; /* Расположение элементов в колонку */
    gap: 8px; /* Промежуток между элементами */
    padding: 20px;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.07); /* Фоновый цвет для наглядности */
    border-radius: 5px;
    width: fit-content;
    height: auto; /* Убираем фиксированную высоту */
    align-self: flex-start; /* Ограничиваем высоту контейнера под содержимое */
    box-sizing: border-box; /* Учитываем padding в размере контейнера */
    box-shadow: 3px 3px 5px 5px rgba(23, 22, 22, 0.29);
}

.table_row_title {
    margin-bottom: 10px;
}

.table_row_title_group {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
}

/*_________________STUDENT_LIST___________________*/
.table_row_users {
    display: flex;
    flex-direction: row; /* Расположение элементов в ряд */
    gap: 30px; /* Промежуток между элементами */
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;

}

.table_row_users_title {
    margin: 0px;
    font-size: 20px;
}

.users {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.07); /* Фоновый цвет для наглядности */
    border-radius: 5px;
    min-width: 350px;
    box-shadow: 2px 2px 1px 1px rgba(23, 22, 22, 0.29);
}

.users form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Заставляет форму занимать оставшееся пространство */
}

.users_list {
    margin-top: 10px;
    padding: 0;
}

.user_link_span {
    cursor: pointer;

}

.user_link_span:focus {
    outline: none; /* Убираем стандартное обводка при фокусе */
}

.users_list_item {
    padding: 5px 10px;
    background: linear-gradient(to left, rgba(19, 54, 107, 0.86) 0%, rgba(255, 255, 255, 0.73), rgba(252, 252, 252, 0.89));
    color: #090946;
    font-size: 18px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 7px;
    border-radius: 10px;
    list-style: none;
    transition: background-color 0.3s ease;
}

.users_list_item.active {
    background-color: #151515; /* Цвет подсветки при выделении */
}

.users_list_item:last-child {
    border-bottom: none;
}

.btn-add_users {
    align-self: flex-end;
    margin-top: auto;
    padding: 7px 10px; /* Увеличиваем внутренние отступы для большего размера */
    background-color: #f1f1f1; /* Светлый фон */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Легкая рамка для кнопки */
    border-radius: 8px; /* Закругленные углы для более мягкого вида */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Увеличиваем размер текста для читаемости */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    min-width: 90px;
    box-shadow: 1px 1px 3px 3px rgba(23, 22, 22, 0.29);
}

.btn-add_users:active {
    background-color: #e0e0e0; /* Более темный оттенок при наведении */
}

/*_________________STUDENT_ADDED___________________*/
.added_users {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.07); /* Фоновый цвет для наглядности */
    border-radius: 5px;
    min-width: 350px;
    box-shadow: 2px 2px 1px 1px rgba(23, 22, 22, 0.29);
}

.added_users form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Заставляет форму занимать оставшееся пространство */
}

.added_users_list {
    margin-top: 10px;
    padding: 0;
}

.added_users_list_item {
    padding: 5px 10px;
    background: linear-gradient(to left, rgba(19, 54, 107, 0.86) 0%, rgba(255, 255, 255, 0.73), rgba(252, 252, 252, 0.89));
    font-size: 18px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 7px;
    border-radius: 10px;
    list-style: none;
}

.added_users_list_item:last-child {
    border-bottom: none;
}

.added_users_list .added_users_list_item .user_link {
    color: #090946;
    cursor: pointer;
}

.btn-delete {
    align-self: flex-end;
    padding: 7px 10px; /* Увеличиваем внутренние отступы для большего размера */
    background-color: #ffffff; /* Светлый фон */
    color: #333; /* Цвет текста */
    border: 1px solid #ffffff; /* Легкая рамка для кнопки */
    border-radius: 8px; /* Закругленные углы для более мягкого вида */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Увеличиваем размер текста для читаемости */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    margin-top: auto;
    min-width: 90px;
    box-shadow: 1px 1px 3px 3px rgba(23, 22, 22, 0.29);
}

.btn-delete:hover {
    background-color: #e0e0e0; /* Более темный оттенок при наведении */
}

.highlight {
    background-color: #b2ffd6; /* Цвет подсветки */
    color: #da6c6c; /* Цвет текста (если нужно изменить) */
    transition: background-color 0.3s ease; /* Плавный переход */
}